$green: #009B58;
$secondary: rgb(165, 165, 165);

.noOrders {
  text-align: center;
}

li::marker {
  content: '';
}

.store-status-start {
  margin: 0px;
  padding: 0px;
}

.store-status-open {
  margin: 0px;
  padding: 5px 10px;
  color: white;

  background-color: #01cb73;
  border-radius: 5px;
}

.store-status-closed {
  margin: 0px;
  padding: 5px 10px;
  color: white;

  background-color: #cb2d01;
  border-radius: 5px;
}

.test-button {
  display: block;
  letter-spacing: 1px;
  padding: 5px 25px;
  border-color: $secondary;
  border-style: solid;
  background-color: white;
  cursor: pointer;
  border-radius: 3px;
  color: $secondary;
  transition: 200ms background-color;
  margin-top: 5px;

  &:hover,
  &:active {
    background-color: $secondary;
    color: white;
  }
}

.orders {
  list-style-type: none;
  padding: 0px;
  width: 100%;
  margin-top: 0px;
}

.table {
  display: flex;
  flex-wrap: wrap;
}

$color: #ff6f00;

label {
  display: flex;
  align-items: center;
  font-size: 2rem;

  input[type="checkbox"] {
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    margin: 0px 10px 0px 0px;

    width: 3em;
    height: 3em;
  }
}

@mixin base-card {
  margin: 1rem 12px 1rem 12px;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
}

@mixin base-badge {
  color: white;
  border-radius: 3px;
  padding: 10px;
  font-size: 0.75rem !important;
  letter-spacing: 2px;
}

.card-alert {
  @include base-card;
  border: 1px solid $color;
  animation: blink 3s infinite;

  .order {
    .badge {
      background-color: #01cb7370;
      @include base-badge;
    }
  }
}

.card-acknowledged {
  border: 1px solid #CCC;
  @include base-card;

  .order {
    .badge {
      background-color: #01cb73;
      @include base-badge;
    }
  }
}

@keyframes blink {
  0% {
    background: $color;
  }

  25% {
    background: white;
  }

  50% {
    background: $color;
  }

  75% {
    background: white;
  }

  100% {
    background: $color;
  }
}

@-webkit-keyframes blink {
  0% {
    background: $color;
  }

  25% {
    background: white;
  }

  50% {
    background: $color;
  }

  75% {
    background: white;
  }

  100% {
    background: $color;
  }
}

.card h3 {
  margin: 0px;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  line-height: 1.5;
}

.controller p {
  margin-top: 0px;
}

.modal-initial-open {
  display: block;
}

.modal-initial-closed {
  display: none;
}

.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */

  .content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(113, 113, 113);
    width: 85%;
    /* Could be more or less, depending on screen size */
    max-width: 700px;
    border-radius: 5px;
    line-height: 150%;

    .header-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 12px;

      h1 {
        margin: 0px;
      }
    }

    p {
      font-size: 1.1em;
      margin-bottom: 25px;
    }

    .default-button {
      display: block;
      margin: 0 auto;
      letter-spacing: 1px;
      padding: 15px 35px;
      border-color: #009B58;
      border-style: solid;
      background-color: white;
      cursor: pointer;
      border-radius: 3px;
      color: #009B58;
      transition: 200ms background-color;

      &:hover,
      &:active {
        background-color: #009B58;
        color: white;
      }
    }

    .actions {
      margin-top: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.order {
  font-family: monospace;
  font-size: 1.25rem;
}

.order hr {
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  border-color: #CCC;
}

.order ul li {
  font-size: 1.75em;

  .item-name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;

    .add-ons {
      font-size: 0.85em;
    }

    .quantity {
      margin-right: 8px;
      font-size: 1.15em;
      font-family: 'Courier New', Courier, monospace;
    }
  }
}

.order ul .price {
  font-size: 1.25em;
  display: inline-block;
  width: 100%;
}

.order ul .price p {
  float: right;
  margin: 0px;
}

.order ul {
  list-style-type: none;
}

.orderTitle {
  font-weight: bold;
  font-size: 1.75em;
  margin: 0px;
}

.timestamp {
  display: inline-block;
  width: 100%;
  color: rgb(135, 135, 135);
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.timestamp .date {
  float: left;
  font-size: 0.75em;
  margin-right: 8px;
}

.timestamp .phone-number {
  float: left;
  font-size: 0.75em;
}

.timestamp .time {
  float: right;
  font-size: 0.75em;
}