body {
    font-family: "Ruda", sans-serif;
    margin: 0px 0px 0px 0px;
}

.callout {
    display: flex;
    justify-content: center;

    .content {
        background-color: rgb(239, 239, 239);
        border-radius: 2px;
    }
}

.checkout-button {
    padding: 18px 36px 18px 36px;
    border-style: solid;
    border-color: #354884;
    border-width: 1px;
    background-color: #354884;
    border-radius: 3px;
    color: white;
    font-family: "Ruda", sans-serif;

    box-shadow: 0px 2px 4px rgba(0,0,0,.1);
}

.checkout-button:hover {
    cursor: pointer;
}

.checkout-button:disabled {
    padding: 18px 36px 18px 36px;
    border-style: solid;
    border-color: rgb(174, 174, 174);
    border-width: 1px;
    background-color: rgb(174, 174, 174);
    border-radius: 3px;
    color: white;
    font-family: "Ruda", sans-serif;
}

.real-menu-link {
    display: inline-block;
    margin-top: 18px;
    color: white;
    background-color: #0000006a;
    padding: 8px 18px;
    border-radius: 2px;
}

#checkout:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
}

.menu-item {
    max-width: 490px;
    flex: 50%;
}

.title-container .backdrop {
    z-index: 0;
    width: 100%;
    position: absolute;
}

@media screen and (min-width: 601px) {
    .callout {
        .content {
            width: auto;
            padding: 24px 64px;
        }
    }

    .title-container .backdrop {
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    .pics {
        flex-direction: column;
        gap: 0px !important;
    }
}

@media screen and (max-width: 600px) {
    .callout {
        .content {
            padding: 24px 24px;
            width: 75%;
        }
    }

    .title-container .backdrop {
        height: 100vh;
    }

    .menu-items {
        justify-content: center;
    }

    .menu-item {
        flex: 100%;
    }

    .menu-item .content {
        padding: 18px !important;
    }

    .category-description {
        text-align: center;
    }

    #checkout {
        margin-bottom: 12px;
        width: 100%;
        padding: 16px 24px;
    }
}

.menu-item .content {
    margin: 0px 12px 0px 12px;
    padding: 24px;
}

.menu-item h4 {
    margin: 0px 0px 8px 0px;
    letter-spacing: 1px;
    max-width: 90%;
}

.menu-item p {
    margin: 0px 0px 6px 0px;
    color: #656565;
}

.menu-item .price {
    float: right;
    margin-left: 3px;
}

.menu-item .small-price {
    float: right;
    margin-left: 3px;
    margin-right: 3px;
}

.menu-item .large-price {
    float: right;
}

.category-description {
    margin: 0px 0px 24px 0px;
    max-width: 500px;
    color: #656565;
}

.notice {
    text-align: center;
    background-color: #53939D;
    padding: 0px 0px 12px 0px;
    color: white;
}

.notice p {
    margin: 0px;
    font-size: 18px;
}

.item-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price {
    font-weight: lighter;
}

.item {
    font-weight: bold;
    max-width: 75%;
}

.small-info {
    font-family: "Ruda", sans-serif;
    font-size: 18px;
    background-color: #53939D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    background-color: white;
    height: 1px;
    width: 275px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.seperator {
    width: 1px;
    height: 19px;
    background-color: white;
    border-radius: 1px;
    margin: 0px 10px;
}

.title-container {
    margin-bottom: 25px;
    display: flex;
    font-family: "Ruda", sans-serif;
    font-size: 20px;
    height: 100vh;
}

.title-container .contents {
    margin-top: 64px;
    text-align: center;
    z-index: 1;
    position: relative;
    width: 100%;
}

.main-logo {
    width: 45%;
    min-width: 300px;
}

.number {
    color: white;
    margin-bottom: 24px;
    font-size: 120%;
}

.address {
    padding-bottom: 0px;
    color: white;
    font-size: 120%;
    display: inline-block;
}

.times {
    color: white;
    margin-top: 0px;
    line-height: 140%;
}

.anchor {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.navigation-categories {
    .online-order-header {
        background-color: rgba(0,0,0,.1);
        color: white;

        h2 {
            font-weight: 400;
            padding: 8px 18px;
            border-radius: 3px;
            margin-bottom: 0px;
        }
    }
}

.links {
    display: flex;
    flex-wrap: wrap;
    background-color: #354884b2;
    flex-direction: column;
    color: white;
    padding: 8px 12px;
}

.top-categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.bottom-categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 12px 0px 12px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc {
    font-size: 14px;
    max-width: 480px;
}

.desc-fade {
    color: #484848;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 24px;
}

.category-name {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.pho-img {
    display: flex;
    max-width: 433px;
    max-height: 300px;
}

.pics {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    gap: 50px;
}

.img-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc {
    color: #656565;
    font-size: 14px;
}

.catering-box {
    display: flex;
    justify-content: center;
}

.catering {
    max-width: 600px;
    text-align: center;
    width: 100%; // 90%
}

.catering p {
    font-size: 28px;
    margin-bottom: 0px;
}

#catering3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #53939D;
    color: white;
    padding: 12px 64px;
}

#footer-saigon {
    font-size: 30px;
    margin: 0px;
}

@media screen and (max-width: 420px) {
    .small-info {
        font-size: 85%;
    }

    .main-logo {
        width: 80%;
    }

    .number {
        font-size: 100%;
    }

    .address {
        font-size: 80%;
    }

    .horizontal-line {
        width: 50%;
    }
    
    .times {
        font-size: 80%;
    }

    .top-categories {
        font-size: 72%;
    }

    .bottom-categories {
        font-size: 72%;
    }

    .description {
        font-size: 77%;
    }

    .pho-img {
        width: 80%;
    }
    
    .img-desc {
        margin-top: 5%;
    }

    .category-name {
        font-size: 30px;
    }

    .catering {
        margin-top: 10%;
        font-size: 124%;
    }

    footer {
        padding: 12px 24px;
    }
}
