body {
    font-family: "Ruda", sans-serif;
    margin: 0px 0px 0px 0px;
}

a {
    text-decoration: none;
    color: white;
}

.small-info {
    font-family: "Ruda", sans-serif;
    font-size: 18px;
    background-color: #53939D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-line {
    background-color: white;
    border-radius: 1px;
    height: 1.5px;
    width: 275px;
    margin-top: 1%;
}

.seperator {
    width: 1px;
    height: 19px;
    background-color: white;
    border-radius: 1px;
    margin: 0px 10px;
}

.title-info {
    margin-bottom: 25px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: "Ruda", sans-serif;
    font-size: 20px;
    background: url("../images/title_back.png");
    width: 100%;
}

.main-logo {
    width: 45%;
}

.number {
    color: white;
    margin-bottom: 0%;
    font-size: 120%;
}

.address {
    padding-bottom: 0px;
    margin-top: 0px;
    color: white;
    margin-bottom: -10px;
    font-size: 120%;
}

.weekdays {
    color: white;
    margin-top: 0px;
    margin-bottom: -35px;
}

.weekends {
    color: white;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    background-color: #354884;
    flex-direction: column;
    color: white;
    width: 100%;
}

.top-categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.bottom-categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.description {
    color: #656565;
    margin-bottom: 0px;
    max-width: 450px;
    font-size: 14px;
}

.appetizers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appe-items {
    display: flex;
    flex-direction: row;
}

.appename {
    font-weight: bold;
}

.desc {
    font-size: 14px;
    max-width: 480px;
}
.desc-fade {
    color: #484848;
    font-size: 15px;
    font-weight: bold;
}

.appe-prices > p {
    margin-bottom: 65px;
}

#second {
    margin-bottom: 72px;
}

#third {
    margin-bottom: 100px;
}

.pho {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phoitems {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;
}

.names {
    font-weight: bold;
    width: 450px;
    margin-top: 3%;
    padding-top: 16.7px;
}

.large {
    margin-right: 2%;
}

.bun {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bunitems {
    display: flex;
    flex-direction: row;
}

.shorten {
    width: 380px;
}

.bunprices {
    margin-top: 30px;
}

#bev-double {
    margin-bottom: 36px;
}

.vegetarian {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vegitems {
    display: flex;
    flex-direction: row;
}

.udon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hutieu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stirfried {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ricedishes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rice-desc {
    margin-top: 3px;
    margin-bottom: 20px;
}

#sixtwo {
    margin-bottom: 8px;;
}

#sixtytwo-price {
    margin-bottom: 47px;
}

.friedrice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotsoup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beverage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-name {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
}

.pho-img {
    display: flex;
    max-width: 433px;
    max-height: 300px;
}

.pics {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    gap: 50px;
}

.img-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc {
    color: #656565;
    font-size: 14px;
}

.catering {
    font-size: 35px;
    text-align: center;
    margin-bottom: 0px;
}

#catering2 {
    margin-top: 0px;
}

#catering3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #53939D;
    display: flex;
    justify-content: space-around;
    color: white;
}

#footer-saigon {
    font-size: 30px;
}

#yelp-link {
    align-self: center;
}

#yelp-img {
    max-width: 400px;
    max-height: 100px;
}

@media screen and (max-width: 420px) {
    .small-info {
        font-size: 85%;
    }

    .main-logo {
        width: 80%;
    }

    .address {
        font-size: 80%;
    }

    .horizontal-line {
        width: 50%;
    }
    
    .weekdays {
        font-size: 80%;
    }
    
    .weekends {
        font-size: 80%;
    }

    .top-categories {
        font-size: 72%;

    }

    .bottom-categories {
        font-size: 72%;
    }

    .description {
        font-size: 77%;
    }

    .appe-items {
        width: 85%;
    }

    #appe-first {
        margin-bottom: 213%;
    }

    #second {
        margin-bottom: 230%;
    }

    #third {
        margin-bottom: 300%;
    }

    .pics {
        gap: 20%;
    }

    .pho-img {
        width: 80%;
    }
    
    .img-desc {
        margin-top: 5%;
    }

    .description {
        width: 77%;
    }

    .phoitems {
        width: 85%;
    }

    .names {
        margin-top: 1.88%;
        padding-top: 9.5%;
    }

    #ten-price {
        margin-top: 1%;
    }

    .large > p {
        margin-bottom: 34.3%;
    }

    .small > p {
        margin-bottom: 39.3%;
        margin-left: 5%;
    }

    .category-name {
        font-size: 30px;
    }

    .bunitems {
        width: 85%;
    }

    #bun-names {
        margin-top: 0%;
    }

    .bunprices > p{
        margin-bottom: 30%;
    }

    #bun-first-price {
        margin-bottom: 80%;
    }

    .vegitems {
        width: 86%;
    }

    #vegnames {
        padding-top: 2%;
    }

    #vegprices {
        margin-top: 4%;
    }

    #twentyeight-price {
        margin-bottom: 78%;
    }

    #banhcanh {
        font-size: 170%;
    }

    #udon-names {
        padding-top: 2%;
    }

    #udon-prices {
        margin-top: 3.75%;
    }

    #hutieu-names {
        padding-top: 1.7%;
        max-width: 81%;
        font-size: 92%;
    }

    #hutieu-prices {
        margin-top: 8%;
        margin-left: 6%;
    }

    #hutieu-prices > p {
        margin-top: 0%;
        margin-bottom: 26%;
    }

    #forty-price {
        padding-bottom: 40%;
    }

    #fortyone-price {
        padding-bottom: 40%;
    }

    #fifty-price {
        padding-bottom: 44%;
    }

    #stirfried-names {
        padding-top: 2%;
        font-size: 92%;
        width: 80%;
    }

    #stirfried-prices {
        margin-top: 3.75%;
        margin-left: 6%;
    }

    #stirfried-prices > p {
        padding-bottom: 30%;
    }

    #rice-names {
        padding-top: 0%;
        margin-top: 3.8%;
        font-size: 92%;
        width: 80%;
    }

    #rice-names > p {
        margin-left: 3%;
        width: 85%;
    }

    #rice-prices {
        margin-top: 3.75%;
        margin-left: 5%;
    }

    #rice-prices > p {
        margin-top: 28.5%;
        margin-bottom: 0;
    }

    #fortynine-price {
        margin-top: 13.5px;
        padding-bottom: 35.75%;
    }

    #fiftytwo-price {
        padding-bottom: 37%;
    }

    #fiftyseven-price {
        padding-bottom: 45%;
    }

    #sixtytwo-price {
        padding-bottom: 103%;
    }
    
    #friedrice-names {
        font-size: 92%;
        padding-top: 0%;
    }

    #friedrice-prices {
        margin-top: 1.2%;
    }

    #friedrice-prices > p {
        margin-bottom: 0;
        margin-top: 29.5%;
    }

    #hotsoup-names {
        padding-top: 0%;
    }

    #hotsoup-prices {
        margin-top: 1.5%;
    }

    #beverage-names {
        width: 80%;
        font-size: 92%;
        padding-top: 0%;
    }

    #beverage-names > p {
        width: 88%;
        margin-left: 4%;
    }

    #beverage-prices {
        margin-top: 1.2%;
        margin-left: 5%;
    }

    #beverage-prices > p {
        margin-top: 32.85%;
    }

    #bev-double {
        padding-top: 9%;
        padding-bottom: 30%;
    }

    .shorten-price {
        padding-top: 0;
        padding-bottom: 40%;
    }


    .catering {
        margin-top: 10%;
        font-size: 124%;
    }

    .footer-info {
        margin-left: 5%;
        width: 50%;
        font-size: 90%;
    }

    #yelp-link {
        margin-left: 7%;
        width: 60%;
    }
}
