.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container .order {
  width: 100%;
  max-width: 800px;
  margin: 15px 15px 80px 15px;
}

.container p {
  color: rgb(45, 45, 45);
}

.container .order .logo {
  display: flex;

  a {
    display: contents;
  }

  .main-logo {
    margin: auto;
  }
}

.container .order .summaryTitle {
  font-family: 'Ruda', sans-serif;
  text-align: center;
}

.restaurantNote {
  text-align: center;
  line-height: 150%;
  color: rgb(87, 87, 87);
}

.receipt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;


  h2 {
    font-family: 'Ruda', sans-serif;
  }

  table {
    max-width: 510px;
    width: 75%;
    min-width: 280px;
    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    td,
    th {
      padding: 6px 4px;
    }
  }

  .itemName {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: left;

    .quantity {
      margin-right: 8px;
      font-size: 1.15em;
      font-family: 'Courier New', Courier, monospace;
    }
  }

  .amountTotal {
    text-align: right;
  }
}

.instructions {
  h1 {
    letter-spacing: 1px;
    font-family: 'Ruda', sans-serif;
  }

  .contactRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      color: blue;
      text-decoration: underline;
    }
  }

  a {
    color: blue;
    text-decoration: underline;
  }
}